* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    /* max-width: 100vw; */
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.cont {
    margin: 0;
    /* padding: 0px 20px; */
    gap: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f9ff;
    padding: 20px 20px;
    border-radius: 100px;
    font-family: ;
}

.cont li {
    display: flex;
    list-style-type: none;
    /* padding: 8px; */
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    color: #656565;
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.active {
    background: blue;
    color: white !important;
}
.error {
    border-color: #e53e3e !important;
    box-shadow: 0 0 0 1px #e53e3e !important;
}

.error-message {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 6px;
}
.error-message:focus-visible {
    box-shadow: none;
}

.css-1eyovus:focus-visible,
.css-1eyovus[data-focus-visible] {
    /* z-index: 1;
    border-color: rgba(51, 51, 51, 0.5) !important;
    border: none;
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.5) !important;
    box-shadow: none; */
}

.noBorder * {
    border: none;
}